@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=SUSE:wght@100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --white: #fff;
    --light-orange: #db8515;
    --light-blue: #74bef0;
    --blue: #00aeff;
    --cinza: #979797;
    --light-black: #1f1f1f;
    --black: #0e0e0e;
    --font-Lato: "Lato", sans-serif;
    --font-Inter: "Inter", sans-serif;
    --font-IBM: "IBM Plex Sans", sans-serif;
    --font-suse: "SUSE", sans-serif;
    --font-Mrounded: "M PLUS Rounded 1c", system-ui;
    --font-ss: "Source Serif 4", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-black);
    background-image: url(images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--font-Mrounded);
    font-weight: 500;
}

.header {
    width: 1180px;
}

.header-content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.title-ceap{
    font-family: var(--font-suse);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.social-media a{
    display: inline-block;
    color: var(--white);
    font-family: var(--font-suse);
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.social-media a:hover{
    color: var(--light-blue);
    border-bottom: 1px solid  var(--light-blue);
    transform: scale(1.2);
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.first-container {
    margin: 3rem auto;
    width: 1180px;
}

.first-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;

}

.fc-element1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 2rem;
}

.fc-title {
    font-family: var(--font-ss);
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 3.6rem;
    color: var(--white);
}

.fc-paragraphy {
    width: 450px;
    color: var(--light-blue);
    font-family: var(--font-suse);
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-indent: 10px;
    line-height: 1.5rem;
}

.fc-element2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.infos {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    color: var(--light-blue);
    font-family: var(--font-IBM);
    font-size: 1.1rem;
    font-weight: 500;
}

.info1, .info2, .info3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.infos p:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--cinza);
}

.foto img {
    width: 382px;
    border-radius: 10%;
}

table {
    background-color: transparent ;
    border: 1px solid white;
    border-collapse: collapse;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.285);
    color: white;
    font-size: 1rem;
    font-family: var(--font-Inter);
    margin: 0 auto;
    margin-top: 40px;
}

th, td {
    padding: 12px 8px;
    text-align: center;
    border-bottom: 1px solid white;
    border-width: .9px;
}

.group {
    width: 140px;
}

tr:nth-child(even) {
    color: white;
    background-color: rgba(255, 255, 255, 0.134);
}

th {
    background-color: rgba(0,0,0,0.3);
    font-weight: normal;
    text-align: center; 
    border-right: 1px solid white;
}

.i {
    background-color: black;
    font-family: var(--font-Lato);
    color: white;
}

.ths {
    background-color: black;
    font-weight: bold;
}

.dropbtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-Inter);
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    text-align: left;
    overflow: auto;
    z-index: 1;
    padding: 8px 12px;
    margin-top: 12px;
}

.show {display: block;}

ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

ul li {
    font-size: .845rem;
    list-style-type: none;
}

li > span {
    font-weight: bold;
}

.fc-element3 {
    display: flex; 
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
}

.fc-element3-title {
    font-family: var(--font-suse);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    color: var(--white);
}

.second-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.sc-title {
    font-family: var(--font-suse);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    color: var(--white);
}

.sc-grid-trabalhos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4rem;

}

.card-item {
    position: relative;
}

.card-item img, video{
    width: 336px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.card-item p {
    background-color: var(--light-black);
    border-radius: 6px 6px 0px 0px;
    padding: 12px;
    color:  var(--light-blue);
    font-family: var(--font-IBM);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2px;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
}

.footer {
    margin: 0 auto;
    padding: 2rem 0 ;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fot-element {
    font-family: var(--font-Lato);
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.fot-element a {
    display: inline-block;
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.fot-element a:hover {
    transform: scale(1.1);
}

@media screen and (max-width:1200px) {

    .first-container, .footer{
        width: auto;
    }

    .first-content {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .fc-element1 {
        align-items: center;
    }

    .fc-title, .fc-paragraphy {
        text-align: center;
    }

    .fc-element2 {
        flex-direction: column;
    }

    .infos {
        flex-direction: row;
    }

    .sc-grid-trabalhos {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px) {
    .sc-grid-trabalhos {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {

    .social-media a {
        font-size: 1rem;
    }

    .fc-title {
        font-size: 1.7rem;
    }

    .fc-paragraphy {
        width: 280px;
    }

    .foto img {
        width: 256px;
    }

    .infos {
        gap: 2rem;
    }

    table {
        width: 360px;
        font-size: 1rem;
    }

    ul li {
        font-size: .9rem;
    }

    .dropbtn {
        font-size: 1rem;
    }

    .sc-title, .fc-element3-title {
        text-align: center;
        width: 256px;
    }
}


@media screen and (max-width: 375px) {

    .header-content {
        padding: 0 12px;
    }

    .social-media a {
        font-size: 1rem;
    }

    .title-ceap {
        font-size: 1rem;
    }
    
    .fc-title {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }

    .fc-paragraphy {
        font-size: 1rem;
    }

    .fc-element3-title, .sc-title {
        font-size: 1.1rem;
    }

    table {
        width: 330px;
        font-size: 1rem;
    }

    .group {
        width: 160px;
    }

    .infos {
        font-size: .9rem;
        gap: 1.6rem;
    }

    .fot-element {
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px) {
   
    .social-media a {
        font-size: .9rem;
    }

    .title-ceap {
        font-size: .9rem;
    }
   
    .first-content {
        padding: 0;
    }

    tr {
        width: 100px;
    }

    th, td  {
        font-size: .9rem;
        padding: 12px 4px;
    }

    .group {
        width: 120px;
    }

    ul li {
        font-size: 12px;
    }

    .dropbtn {
        font-size: .9rem;

    }
    
    .dropdown-content {
        padding: 8px;
    }

    .card-item {
        width: 280px;
    }

    .card-item img, video {
        width: 280px;
    }
}