@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-Lato: "Lato", sans-serif;
    --font-Inter: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-bottom: 30px;
}

body {
    background-image: url('images/teste2.JPG');
    background-color: #313131;
    backdrop-filter: blur(3px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
}

main {
    padding: 0 10px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feira img{
    width: 480px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-family: var(--font-Inter);
    font-size: .9rem;
    text-shadow: 1px 1px 3px black;
    color: white;
}

table {
    background-color: transparent ;
    border: 1px solid white;
    border-collapse: collapse;
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.285);
    color: white;
    font-size: 1rem;
    font-family: var(--font-Inter);
    padding: 15px;
    margin: 0 auto;
    margin-top: 40px;
}

th, td {
    padding: 12px 8px;
    text-align: center;
    border-bottom: 1px solid white;
    border-width: .9px;
}

.group {
    width: 200px;
}

tr:nth-child(even) {
    color: white;
    background-color: rgba(255, 255, 255, 0.134);
}

th {
    background-color: rgba(0,0,0,0.3);
    font-weight: normal;
    text-align: center; 
    border-right: 1px solid white;
}

.i {
    background-color: black;
    font-family: var(--font-Lato);
    color: white;
}

.ths {
    background-color: black;
    font-weight: bold;
}

.dropbtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-Inter);
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.dropdown-content {
    display: none;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    text-align: left;
    overflow: auto;
    z-index: 1;
    padding: 8px 12px;
    margin-top: 12px;
}

.show {display: block;}

ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

ul li {
    font-size: .845rem;
    list-style-type: none;
}

li > span {
    font-weight: bold;
}

.credits{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.603);
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.credits a {
    color:  rgb(26, 195, 247);
    text-decoration: none;
    border-bottom: 1px solid rgb(26, 195, 247);
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('images/fundo.png');
        background-position: top center;
    }
}

@media screen and (max-width: 480px) {
    .feira img {
        width: 375px;
    }
}

@media screen and (max-width: 375px) {

    
    .feira img {
        width: 280px;
    }
    table {
        font-size: 1.1rem;
    }
}