@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --blue: #003cff;
    --orange: #ffd000;
    --font-Lato: "Lato", sans-serif;
    --font-Inter: "Inter", sans-serif;
    --font-Mrounded: "M PLUS Rounded 1c", system-ui;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1d1d;
}

header {
    background-color: #131313;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: var(--font-Mrounded);
    font-weight: 500;
}

.header {
    width: 1180px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.title-ceap img{
    width: 128px;
}

.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    font-size: 1.2rem;
}

.navigation ul li {
    list-style-type: none;
}

.navigation ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.navigation ul li a:hover {
    transform: scale(1.2);
    border-bottom: 1px solid var(--orange);
}

.social-media a{
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.social-media a:hover{
    color: var(--orange);
    transform: scale(1.2);
}

.back-img {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.first-container {
    width: 1180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.element1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 2rem;
}

.title {
    font-family: serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    line-height: 6rem;
    color: white;
}

.paragraphy {
    width: 490px;
    color: white;
    font-family: var(--font-Inter);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.element2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.infos {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    color: #ffe1aa;
    font-family: var(--font-Inter);
    font-size: 1.1rem;
    font-weight: 500;
}

.info1, .info2, .info3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.infos p:nth-child(2){
    color: rgb(151, 151, 151);
}

.fotos img {
    width: 468px;
    border-radius: 10px;
}

.second-container {
    margin-top: 2rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;    
}

.element3 {
    width: 1180px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem
    ;
}

.title-trabalhos {
    font-family: serif;
    font-size: 1.4rem;
}

.slide-trablhos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
}

.card {
    background-color: aqua;
    width: 346px;
    height: 256px;
    flex: 1;
}